div#wrapper{
	background-color:#F0FFF0;
	width: auto;
	height:1000px;

}
div.content{
	background-color:#ff0000;
	height:auto;
	width:auto;
	margin-bottom: 30px
	
	
	

}
div#first{
	background-color:#00FFFF;
	width: auto;
	height: 200px;

}

div#second{
	background-color:#7FFFD4;
	height:200px;
	width:auto;
	
	
}
div#third{
	background-colorborder:5px solid #000000;:#8A2BE2;
	width: 55%;
	height:500px;
	float:left;
	margin-right: 30px;
}
div#fourth{
	background-color:#6495ED;
	width: 40%;
	height:500px;
	float: left;

}
div#fifth{

	background-color:#00FFFF;
	width: auto;
	height: 200px;
	float:bottom;


}
